
module nginx 1.0;

require {
	type httpd_t;
	type user_home_t;
	class dir read;
	class file { open read };
}

#============= httpd_t ==============

#!!!! This avc can be allowed using the boolean 'httpd_read_user_content'
allow httpd_t user_home_t:dir read;

#!!!! This avc can be allowed using the boolean 'httpd_read_user_content'
allow httpd_t user_home_t:file { open read };
